.uiShellRoot {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 44px 1fr auto;
  grid-template-columns: 280px 1fr 320px;
  grid-template-areas:
    "top top top"
    "left canvas right"
    "bottom bottom bottom";
  background: #0f1115;
  color: #e6e9ef;
}

.uiShellTop {
  grid-area: top;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.uiShellLeft {
  grid-area: left;
  border-right: 1px solid rgba(255, 255, 255, 0.08);
  overflow: hidden;
}

.uiShellRight {
  grid-area: right;
  border-left: 1px solid rgba(255, 255, 255, 0.08);
  overflow: hidden;
}

.uiShellCanvas {
  grid-area: canvas;
  overflow: hidden;
}

.uiShellBottom {
  grid-area: bottom;
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  display: flex;
  flex-direction: column;
}

@media (max-width: 1280px) {
  .uiShellRoot {
    grid-template-columns: 240px 1fr 280px;
  }
}
